<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <!-- <ion-buttons>
      <ion-menu-button autoHide="false">

      </ion-menu-button>
      <ion-title>WallP</ion-title>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>




<ion-content>
    <ion-slides [options]="slideOpts"  pager="true">
      <ion-slide>
        <ion-card >
          <ion-img   src="assets/Super Nova.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Wallp1</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card >
          <ion-img src="assets/Super Nova 03.png "></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Wallp1</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <!-- <ion-slide>
        <ion-card style="height: 180px">
          <ion-img src="assets/Android 14.png "></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Wallp1</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide> -->
      <ion-slide>
        <ion-card>
          <!-- <ion-img src="assets/Android 14.png "></ion-img> -->
          <ion-card-header>
            <!-- <ion-card-subtitle>Wallp1</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="clear">View all <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </ion-card-content>

        </ion-card>
      </ion-slide>
    </ion-slides>


    <ion-slides [options]="slideOpts"  pager="true">
      <ion-slide>
        <ion-card>
          <ion-img   src="assets/Waves 14.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Wallp1</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card >
          <ion-img src="assets/Waves 16.png "></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Wallp1</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card >
          <ion-img src="assets/Waves 15.png "></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Wallp1</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <!-- <ion-img src="assets/Android 14.png "></ion-img> -->
          <ion-card-header>
            <!-- <ion-card-subtitle>Wallp1</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="clear">View all <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </ion-card-content>

        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-slides [options]="slideOpts" pager="true">
      <ion-slide>
        <ion-card>
          <ion-img src="assets/Android 13.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Wallp1</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card >
          <ion-img src="assets/Android 12.png "></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Wallp1</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card >
          <ion-img src="assets/Android 14.png "></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Wallp1</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

          </ion-card-content>

        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <!-- <ion-img src="assets/Android 14.png "></ion-img> -->
          <ion-card-header>
            <!-- <ion-card-subtitle>Wallp1</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="clear">View all <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </ion-card-content>

        </ion-card>
      </ion-slide>

    </ion-slides>


  </ion-content>








