<ion-header [translucent]="true">
  <ion-toolbar color="light">

  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card  class="cardcontent">
<ion-card-header class ="title">
  WALLP LOGIN
</ion-card-header>
<ion-card-content>
  <ion-input class ="input1" type="text" placeholder="Email-Id or Username"></ion-input>
  <ion-input class ="input2" type="password" placeholder="Password"></ion-input>
  <ion-buttons>

        <ion-button>Login
          <!-- <ion-icon slot="end" name="download-outline"></ion-icon> -->
        </ion-button>

      <ion-button>SignUp
        <!-- <ion-icon slot="end" name="images-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>

</ion-card-content>
</ion-card>


</ion-content>
