<ion-header [translucent]="true">
  <ion-toolbar color="light">

  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card  class="cardcontent">
<ion-card-header>
  WALLP LOGIN
</ion-card-header>
<ion-card-content>
  <ion-item lines="none">
    <!-- <ion-label class ="label1" position="stacked">Username</ion-label> -->
    <ion-input class="mail" type="text" placeholder="Username"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <!-- <ion-label class ="label2" position="stacked">Password</ion-label> -->
    <ion-input class="pass" type = "Password"></ion-input>
  </ion-item>

  <ion-buttons>
    <ion-button (click)="go()">Login</ion-button>
  </ion-buttons>
</ion-card-content>
</ion-card>
</ion-content>
