.mail{
  border: 2px #455d8b solid;
  border-radius: 5px;
  justify-content: center;
  display: inline-block;
  text-align: center;
  // width: 250px;
}
.pass{
  border: 2px #455d8b solid;
  border-radius: 5px;
  justify-content: center;
display: inline-block;
  text-align: center;
z-index: -1;

// width: 280px;
}

